{% extends 'baseBackend.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}

    <div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-user"></i> Users</h1>
            {#<p>Start a beautiful journey here</p>#}
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="{{ url('adminUsers') }}">User</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card">


                <form class="form-horizontal">
                    <fieldset>
                        <legend>Registered Users</legend>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input id="inputEmail" value="{{ email }}" type="text" placeholder="Email" name="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Username</label>
                                <div class="col-lg-10">
                                    <input id="inputEmail" value="{{ username }}" type="text" placeholder="Username" name="username" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input id="inputEmail" value="{{ firstName }}" type="text"  name="firstName" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Phone No</label>
                                <div class="col-lg-10">
                                    <input id="inputEmail" value="{{ phoneNo }}" type="text" name="PhoneNo" placeholder="Phone No" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right">Filter</button>

                        </div>
                    </fieldset>
                </form>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in users %}

                                <tr>
                                    <td></td>
                                    <td>{{ data.userDetailsObj.firstName }}</td>
                                    <td>{{ data.userDetailsObj.lastName }}</td>
                                    <td>{{ data.username }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}